cached-property==2.0.1
certifi==2026.7.22
cffi==2.1.1
charset-normalizer==3.5.1
curl_cffi==0.16.3
fitfile==1.2.0
garminconnect==0.3.11
GarminDb==3.9.0
greenlet==3.5.5
idbutils==1.2.0
idna==3.19
pycparser==3.0
python-dateutil==2.9.0.post0
requests==2.34.2
six==1.17.0
SQLAlchemy==2.0.52
tcxfile==1.0.4
tornado==6.5.8
tqdm==4.67.1
typing_extensions==4.16.0
ua-generator==2.1.4
urllib3==2.7.0
